.theCreateResumeCard{
    height: 27rem;
}


.theCard1{
    background: linear-gradient(to top , #131313b9 , #121111a2),  url('../../assets/create-resume.jpg') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.theCard2{
    background: linear-gradient(to top , #131313b9 , #121111a2),  url('../../assets/letterImg.jpg') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.theRow{
    width: 90%;
}

.theArticle{
    background-color: #3f1cbd;
}

.theCartBox12233{
    height: 20rem;
}

.theTopBox987273{
    background: #3f1cbda6;
    color: #fff;
}

.theResumeCard{
    position: relative;
    z-index: 0;
}

.Resume-text-Box{
    position: absolute;
    z-index: 100;
    bottom: 0;
    height: 50%;
    background: #fff;
}

.theTemp{
    position: fixed;
    height: 100vh;
    width: 100%;
    background: #12111175;
    color: aliceblue;
    top: 0;
    left: 0;
}

.theTempSection{
    /* position: relative; */
    width: 75%;
    height: 95%;
}

.theSliderBtn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}


